.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.service{
  background-color: rgb(255, 244, 228);
}

.about{
  background-color: rgb(243, 245, 248);
}

